body {
    background-color: rgb(163, 212, 219);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1, 5;
    color: black;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

p.one {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 5px;
    padding: 10px;
    text-align: left;
    color: rgb(186, 43, 238);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

p.two {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 5px;
    padding: 10px;
    color: rgb(245, 164, 12);
}

p.three {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: rgb(244, 73, 11);
    text-align: left;
}

ul.two {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li.two {
    display: inline;
    text-align: center;
    margin: 2px;
    padding: 5px 10px;
}

li.three {
    color: rgb(244, 73, 11);
    text-align: left;
    padding: 14px 16px;
}

li.two:hover {
    background-color: #d6d1d1;
}

img {
    width: 10%;
    height: auto;
}

/*Form.html*/
body.form {
    background-color: #c45805;
    font-family: Verdana;
    text-align: center;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #c45805;
    border: 1px solid #777;
    border-radius: 50px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

/*Mobile*/
@media only screen and (max-width: 1024) {
    body {
      background-color: rgb(86, 185, 218);
    }
  }