body {
    background-color: #080F36;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1, 5;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Headers (Home, About, Portfolio, Contact, Gallery*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*Header Links*/
ul.headerLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*Header Links*/
li.headerLinks {
    display: inline;
    text-align: center;
    margin: 2px;
    padding: 5px 10px;
}

li.headerLinks:hover {
    background-color: #808080;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

p.info {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 5px;
    padding: 10px;
    color: #FFFFFF;
}

p.infoText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 5px;
    padding: 10px;
    text-align: left;
    color: #FFFFFF;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 1.5);
}

p.hobbies {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 5px;
    padding: 10px;
    color: #FFFFFF;
}

p.portfolio {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 5px;
    padding: 10px;
    color: #FFFFFF;
}



img {
    width: 10%;
    height: auto;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #000000;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #080F36;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 50px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.imagesOne {
    display: flex;
    justify-content: left;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    transition: width 2s;
}

.imagesOne:hover {
    width: 80%;
}
.imagesTwo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    transition: width 2s;
}

.imagesTwo:hover {
    width: 80%;
}

.imagesThree {
    display: flex;
    justify-content: right;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    transition: width 2s;
}

.imagesThree:hover {
    width: 50%;
    animation-name: example;
    animation-duration: 4s;
}

/* The animation code */
@keyframes example {
    from {background-color: #080F36}
    to {background-color: #FFFFFF;}
}

/*Mobile*/
@media only screen and (max-width: 1024) {
    /*size-adjust: auto;*/
}
