/* Body */
body {
    background-color: #080F36;
    font-family: Garamond, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1, 5;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Body | White- Mode */
.white-mode {
    background-color: #FFFFFF;
    font-family: Garamond, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1, 5;
    color: #000000;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Headers (Home, About, Portfolio, Contact, Gallery */
h1 {
    font-family: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}

/* Navigation bar */
nav {
    background-color: #000000;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Navigation bar links */
a.navLinks {
    text-decoration: none;
    color:#FFFFFF;
    margin: 2px;
    padding: 3px 8px;
}

a.navLinks:hover {
    background-color: #777;
}

/* White mode button */
button.toggle {
    background-color: #080F36;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 20px;
}

#time {
    color: #FFFFFF;
}
/*Home page*/
#index {
    font-family: inherit;
    margin: auto;
    padding: 10px;
    text-align: center;
    list-style-type: square;
    list-style-position: inside;
}

/* Home page images */
img {
    width: 10%;
    height: auto;
}

.imagesOne {
    display: flex;
    justify-content: left;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    transition: width 2s;
}

.imagesOne:hover {
    width: 80%;
}
.imagesTwo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    transition: width 2s;
}

.imagesTwo:hover {
    width: 80%;
}

.imagesThree {
    display: flex;
    justify-content: right;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    transition: width 2s;
}

.imagesThree:hover {
    width: 80%;
}

/* Table in about.html */

/* Apply some basic styles to the table */
.infoTable {
    border-collapse: collapse;
    width: 50%;
    font-family: inherit;
    margin: auto;
  }
  
  /* Style the table header cells (th) */
  .infoTable th {
    /*background-color: #f2f2f2;*/
    /*color: #333;*/
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  /* Style the table data cells (td) */
  .infoTable td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  /* Add some hover effect for better interactivity */
  .infoTable tr:hover {
    background-color: #777;
  }

/* Paragraph in about.html */
p.infoText {
    font-family: inherit;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    width: 50%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 1.5);
}

/* Paragraph for hobbies before list in about.html */
p.hobbies {
    font-family: inherit;
    margin: auto;
    padding: 10px;
    text-align: left;
    width: 50%;
}

p.hobbiesText {
    font-family: inherit;
    margin: auto;
    padding: 10px;
    text-align: left;
    width: 50%;
}

/* Hobbies list in about.html */
ul.hobbies {
    font-family: inherit;
    margin: auto;
    padding: 10px;
    text-align: left;
    width: 50%;
    list-style-type: square;
    list-style-position: inside;
    
}

/*Projects*/
.projectsLinks {
    font-family: inherit;
    margin: auto;
    padding: 10px;
    text-align: center;
    list-style-type: square;
    list-style-position: inside;
}

#projectsLinks {
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#projectsLinks:hover {
    background-color: #777;
}

.projectsLanguages {
    font-family: inherit;
    margin: auto;
    padding: 10px;
    text-align: center;
    list-style-type: square;
    list-style-position: inside;
}

/*Contact*/
.contact {
    font-family: inherit;
    margin: auto;
    padding: 10px;
    text-align: center;
    list-style-type: square;
    list-style-position:inside;
}

#contactInformation
{
    display: inline-block;
    text-align: left;
}

a.contactLinks {
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
}

a.contactLinks:hover {
    background-color: #777;
}

button.contactInformation {
    background-color: #000000;
    color: white;
    padding: 5px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.contactInformation:hover {
    background-color: #777;
}

/* Gallery */
.gallery {
    font-family: inherit;
    margin: auto;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    width: 50%;
}
p.gallery {
    font-family: inherit;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 50%;
}
div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    margin-top: 30px;
    margin: auto;
    padding: 10px;
    width: 900px;
    height: auto;
    object-fit: scale-down;
    max-width: 100%;
    min-width: 300px;
  }

/*Gallery buttons*/
#prevButton, #nextButton {
    font-family: inherit;
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}


/*Form*/
/* Styling the Form (Color, Padding, Shadow) */
form {
    background-color: #000000;
    color:#FFFFFF;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
    display: grid;
    row-gap: 15px;
    color: #FFFFFF;
}

.form-name {
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button.submit {
    background-color: #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 50px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    nav {
        width: 100%;
    }
    .infoTable {
        width: 100%;
        margin: 0;
    }
    .infoTable th,
    .infoTable td {
        padding: 5px; /* Reduce padding for smaller screens */
    }
    img {
        width: 40%; /* Adjust the percentage as needed for mobile devices */
    }

    .imagesOne,
    .imagesTwo,
    .imagesThree {
        justify-content: center; /* Center images on smaller screens */
    }
    div.scroll-container {
        width: 100%;
    }
    div.scroll-container img {
        width: 100%; /* Adjust the width as needed for mobile devices */
    }
    .gallery {
        width: 100%;
    }
    p.infoText {
        width: 80%;
    }
    p.hobbies {
         width: 80%;
    }
    
    p.hobbiesText {
        width: 80%;
    }
    
    /* Hobbies list in about.html */
    ul.hobbies {
        width: 80%;
    }
    
}